// Application Specific Variables

// General
//
$section-spacing-h: 6.4rem; // 102.4px
$section-spacing-v: 8rem; // 128px
$mobile-section-spacing-h: 1.5rem; // 24px
$mobile-section-spacing-v: 3rem; // 48px

$bg-line-size: 0.0625rem; // 1px
$bg-line-color: rgba(255, 255, 255, 0.125);

$subject-size: 1.25rem; // 20px
$header-size: 3rem; // 48px
$header-desc-size: 1.5rem; // 24px
$paragraph-size: 1.4rem; // 22.4px
$list-size: 0.875rem; // 14px
$list-line-height: 2.4;

$mobile-subject-size: 0.75rem; //12px
$mobile-header-size: 1.25rem; // 20px
$mobile-header-desc-size: 0.875rem; // 14px
$mobile-paragraph-size: 1rem; // 16px
$mobile-list-size: 0.625rem; // 10px

$header-spacing: 2rem; // 32px
$mobile-header-spacing: 0.75rem; // 12px

$transition: cubic-bezier(0.86, 0, 0.07, 1);

// Hero
//
$brand-title-xl: 8rem;
$brand-title-lg: 6rem;
$brand-title-sm: 4rem;
$brand-title-xs: 3.25rem;

$hero-heading-xl: 1.75rem;
$hero-heading-lg: 1.5rem;
$hero-heading-sm: 1.35rem;
$hero-heading-xs: 1.25rem;

// Navigation
//
$nav-bg1: $highlight;
$mobile-nav-bg1: $cherry;
$nav-bg2: #333;
$mobile-nav-bg2: $highlight;
$nav-bg3: $cherry;
$nav-highlight: $highlight;

$nav-toggle-size: 3rem;
$nav-toggle-mobile-size: 3.5rem;
$nav-toggle-mobile-spacing: 1.75rem;

$nav-toggle-color: #fff;
$nav-toggle-bg: transparent;

$nav-animation-width: $section-spacing-h;
$mobile-nav-animation-width: $nav-toggle-mobile-size;

// Services
$block-spacing: 2rem;
$mobile-block-spacing: 1rem;

// Project
$aspectRatio: 608 / 1023;

$slide-spacing: #{($section-spacing-h + $bg-line-size)};
$tablet-slide-spacing: $section-spacing-h;
$mobile-slide-spacing: $mobile-section-spacing-h;
