#about {
  .header-wrapper {
    max-width: 62rem;
    width: auto;
    min-width: unset;

    .header-main {
      font-size: 2.25rem;
    }
  }
}

.about-wrapper {
  padding-bottom: $section-spacing-v;
}

.about-block {
  max-width: 25rem;

  img {
    width: 4rem;
  }

  .about-header {
    font-size: 1.8rem;
    margin: $block-spacing 0;
  }

  p {
    font-size: 1.25rem;
  }
}

.about-header {
  position: relative;

  &:before {
    position: absolute;
    top: -2rem;
    left: 0;
    font-size: 1rem;
  }
}

.about-wrapper > div {
  div:nth-child(1) {
    .about-header:before {
      content: "01";
    }
  }

  div:nth-child(2) {
    .about-header:before {
      content: "02";
    }
  }

  div:nth-child(3) {
    .about-header:before {
      content: "03";
    }
  }
}
