#about {
  .header-wrapper {
    max-width: 62rem;
    width: auto;
    min-width: unset;

    .header-main {
      font-size: 2.25rem;
    }
  }
}

.about-wrapper {
  // padding-bottom: $section-spacing-v;
}

.about-block {
  max-width: 35rem;
  width: 75%;

  .about-header {
    font-size: 1.8rem;
    margin: $block-spacing 0;
    transform: translateY(100%);
    transition: transform 350ms $transition;
  }

  p {
    font-size: 1.25rem;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 350ms $transition;
  }

  &:hover {
    .about-header {
      transform: translateY(0);
    }
    p {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.about-header {
  position: relative;

  &:before {
    position: absolute;
    top: -2rem;
    left: 0;
    font-size: 1rem;
  }
}

.about-wrapper > div {
  div:nth-child(1) {
    .about-header:before {
      content: "01";
    }
  }

  div:nth-child(2) {
    .about-header:before {
      content: "02";
    }
  }

  div:nth-child(3) {
    .about-header:before {
      content: "03";
    }
  }
}
