// Base styles
//

// Body styles
//
body {
  background-color: $primary;
  color: #fff;
  cursor: default;
}

a:focus,
button:focus {
  outline: none;
}

p {
  font-size: $mobile-paragraph-size;

  @include media-breakpoint-up(md) {
    font-size: $paragraph-size;
  }
}

// Helpers
//
.highlight {
  color: $highlight;
}

// Section Styles
//
.section-wrapper {
  padding: 0 $section-spacing-h;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 0 $mobile-section-spacing-h;
  }
}

@include media-breakpoint-up(lg) {
  .section-inner {
    position: relative;
    height: 100%;

    // Side lines
    border-left: $bg-line-size solid $bg-line-color;
    border-right: $bg-line-size solid $bg-line-color;

    // Inner lines
    @include media-breakpoint-up(xl) {
      &:before {
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
        top: 0;
        margin-left: -25%;
        border-left: $bg-line-size solid $bg-line-color;
        border-right: $bg-line-size solid $bg-line-color;
        content: "";
        pointer-events: none;
        z-index: 1;
      }
    }

    // Middle line
    &:after {
      position: absolute;
      width: 50%;
      height: 100%;
      left: 50%;
      top: 0;
      width: $bg-line-size;
      background-color: $bg-line-color;
      content: "";
      pointer-events: none;
      z-index: 1;
    }
  }
}

// Header Styles
//
.header-wrapper {
  @include media-breakpoint-up(lg) {
    width: 40%;
    min-width: 44rem;
  }

  @include media-breakpoint-up(md) {
    padding: $section-spacing-v 0;
  }

  @include media-breakpoint-down(sm) {
    padding: $mobile-section-spacing-v 0;
  }

  .header-subject {
    font-size: $mobile-subject-size;
    margin-bottom: $mobile-header-spacing;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $highlight;

    @include media-breakpoint-up(md) {
      font-size: $subject-size;
      margin-bottom: $header-spacing;
    }
  }

  .header-main {
    font-size: $mobile-header-size;
    margin-bottom: $mobile-header-spacing;

    @include media-breakpoint-up(md) {
      font-size: $header-size;
      margin-bottom: $header-spacing;
    }
  }

  .header-desc {
    font-size: $mobile-header-desc-size;

    @include media-breakpoint-up(md) {
      font-size: $header-desc-size;
    }
  }
}

// List styles
//
.section-list {
  text-transform: uppercase;
  line-height: $list-line-height;
  font-size: $mobile-list-size;
  font-weight: $font-weight-semibold;

  @include media-breakpoint-up(md) {
    font-size: $list-size;
  }
}

// Button
//
.btn-outline {
  position: relative;
  display: inline-block;
  border: 0.125rem solid #fff;
  color: #fff;
  padding: 0.5rem 1.25rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  transition: all 300ms $transition;

  span {
    display: inline-block;
    margin-left: 0.75rem;
    vertical-align: text-bottom;
    transition: transform 300ms $transition;
  }

  @include media-breakpoint-up(lg) {
    &:after {
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
      content: "";
      position: absolute;
      z-index: -1;
      transition: width 300ms $transition;
    }

    &:hover {
      color: $primary;
      padding-right: 1.25rem + 0.75rem;

      &:after {
        width: 100%;
      }

      span {
        transform: translateX(0.75rem);
      }
    }
  }
}

// Links
//
.text-link {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
  transition: all 350ms $transition;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    width: 0;
    height: 0.15em;
    background-color: $highlight;
    transition: all 350ms $transition;
    z-index: -1;
  }

  &:hover,
  &:focus {
    color: $highlight;
    &:before {
      width: 100%;
    }
  }
}

// Accordion
//
.accord-block {
  .accord-content {
    display: none;
  }
  &:first-child {
    .accord-content {
      display: block;
    }
  }
}
