// Base styles
//

// Body styles
//
body {
  background-color: $primary;
  color: #fff;
  cursor: default;
}

a:focus,
button:focus {
  outline: none;
}

p {
  font-size: 1.4rem;
}

// Helpers
//
.highlight {
  color: $highlight;
}

// Section Styles
//
.section-wrapper {
  padding: 0 $section-spacing-h;
  position: relative;
  // min-height: 80vh;

  @include media-breakpoint-down(md) {
    padding: 0 $mobile-section-spacing-h;
  }
}

.section-inner {
  position: relative;
  height: 100%;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.05);
  border-right: 0.1rem solid rgba(255, 255, 255, 0.05);

  &:before {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0;
    margin-left: -25%;
    border-left: 0.1rem solid rgba(255, 255, 255, 0.05);
    border-right: 0.1rem solid rgba(255, 255, 255, 0.05);
    content: "";
    pointer-events: none;
    z-index: 1;
  }

  &:after {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0;
    width: 0.1rem;
    background-color: rgba(255, 255, 255, 0.05);
    content: "";
    pointer-events: none;
    z-index: 1;
  }
}

// Header Styles
//
.header-wrapper {
  @include media-breakpoint-up(md) {
    padding: $section-spacing-v 0;
    width: 40%;
    min-width: 44rem;
  }

  @include media-breakpoint-down(sm) {
    padding: $mobile-section-spacing-v 0;
  }

  .header-subject {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $highlight;

    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }

  .header-main {
    font-size: 3rem;
    margin-bottom: 2rem;

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }

  .header-desc {
    font-size: 1.5rem;

    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }
}

.section-list {
  text-transform: uppercase;
  line-height: 2.4;
  font-size: 0.875rem;
  font-weight: $font-weight-semibold;
}

// Button
.btn-outline {
  display: inline-block;
  border: 4px solid $highlight;
  padding: 8px 20px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  i {
    margin-left: 1em;
  }
}

// Accordion
.accord-block {
  .accord-content {
    display: none;
  }
  &:first-child {
    .accord-content {
      display: block;
    }
  }
}

// Scroll Line
@keyframes scrolldown {
  0% {
    background-position: 0 -10.4rem;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 10.4rem;
  }
}

.scroll-line {
  background-color: rgba(#fff, 0.4);
  width: 0.1rem;
  height: 10.4rem;
  overflow: hidden;
  overflow: hidden;
}
.scroll-indicator {
  width: 100%;
  height: 200%;
  background-position: 0 -10.4rem;
  background-size: 100% 200%;
  animation: scrolldown 2s cubic-bezier(0.5, 0, 0.3, 1) forwards infinite;
  background: linear-gradient(to bottom, #ffffff 50%, rgba(255, 255, 255, 0) 50%);
}
