.contact-wrapper {
  padding-bottom: $section-spacing-v;
}

.email-label {
  font-weight: $font-weight-semibold;
  font-size: 1.25em;
  text-transform: uppercase;
}

.epikode-contact {
  font-weight: $font-weight-bold;

  @include media-breakpoint-up(lg) {
    font-size: 5.5rem;
  }

  @include media-breakpoint-only(md) {
    font-size: 3.5rem;
  }

  @include media-breakpoint-only(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 1.75rem;
  }
}
