.contact-wrapper {
  padding-bottom: $section-spacing-v;
}

.email-label {
  font-weight: $font-weight-semibold;
  font-size: 1.25em;
  text-transform: uppercase;
}

.epikode-contact {
  font-size: 5.5rem;
  font-weight: $font-weight-bold;
  color: #fff;

  &:hover {
    color: $highlight;
  }
}
