.hero {
  color: $header-color;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  // background-image: url("./dist/img/duck2.svg");
  background-repeat: no-repeat;
  background-size: 440px;
  background-position: 85% 50%;

  @include media-breakpoint-down(md) {
    flex-flow: column;
    text-align: center;
    padding: $mobile-hero-spacing-v $mobile-hero-spacing-h;
    justify-content: center;
  }

  .hero-img {
    max-width: 540px;
  }

  .headline {

    @include media-breakpoint-up(lg) {
      padding: $hero-spacing-v $hero-spacing-h;
      margin-bottom: $mouse-margin + $mouse-height;
    }

    h1 {
      font-weight: $font-weight-bold;
      font-size: 8em;
      text-transform: uppercase;
      margin: 0;

      @include media-breakpoint-between(sm, lg) {
        font-size: 6em;
      }

      @include media-breakpoint-down(xs) {
        font-size: 3.25em;
      }
    }

    h2,
    h3 {
      font-family: $font-family-serif;
      font-size: 1.5em;
      margin: 1em 0 0;

      @include media-breakpoint-between(sm, lg) {
        font-size: 1.3em;
      }

      @include media-breakpoint-down(xs) {
        font-size: 1em;
        line-height: 1.8;
      }
    }

    h3 span {
      color: $header-highlight;
      font-weight: $font-weight-bold;
      font-family: $font-family-sans-serif;

      @include media-breakpoint-down(xs) {
        display: block;
        min-height: 1.8em;
        font-size: 1.5em;
      }
    }
  }
}

.service-taglines {
  color: lighten($color: $primary-color, $amount: 65%);

  @include media-breakpoint-up(lg) {
    transform: rotate(-90deg);
  }

  @include media-breakpoint-down(xs) {
    font-size: 0.65em;
  }

  ul {
    max-width: 400px;
    text-transform: uppercase;
    text-align: center;
  }

  li {
    padding-left: 8px;
    display: inline-block;

    &:not(:first-child):before {
      content: "/";
      padding-right: 8px;
    }
  }
}

@keyframes mouse-scroll {
  0% {
    top: 20%;
  }

  50% {
    top: 30%;
  }

  100% {
    top: 20%;
  }
}

.scroll-mouse {

  @include media-breakpoint-down(sm) {
    display: none;
  }

  position: absolute;
  bottom: $mouse-margin;
  left: 50%;

  .inner {
    width: $mouse-width;
    height: $mouse-height;
    position: relative;
    border-radius: $mouse-width/2 + $mouse-border-width * 2;
    border: $mouse-border-width solid $mouse-color;
  }
  
  .wheel {
    position: absolute;
    top: 10%;
    left: 50%;
    width: $wheel-size;
    height: $wheel-size*2;
    margin-left: -$wheel-size/2;
    border-radius: $wheel-size;
    background-color: $mouse-color;
    animation: mouse-scroll .9s infinite;
  }
}
