// Hero styles
//
.hero {
  position: relative;

  .section-inner {
    height: 100vh;
  }
}

// Brand (logo)
//
.brand-mobile {
  margin-bottom: 1rem;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.brand {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

// Headines
//
.hero-content {
  display: grid;
  align-items: center;
  height: 100%;

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .headline {
    @include media-breakpoint-up(lg) {
      grid-column-start: 2;
      grid-column-end: 5;
    }
  }

  h2 {
    font-family: "Russo One", sans-serif;
    font-weight: initial;
    font-size: $brand-title-xs;
    text-transform: uppercase;
    margin-left: -0.4rem;
    margin-bottom: 1.75rem;
    line-height: 1;

    @include media-breakpoint-only(sm) {
      font-size: $brand-title-sm;
    }

    @include media-breakpoint-between(md, lg) {
      font-size: $brand-title-lg;
    }

    @include media-breakpoint-up(xl) {
      font-size: $brand-title-xl;
    }
  }

  h1,
  h3 {
    font-size: $hero-heading-xs;
    margin: 0;
    font-weight: $font-weight-normal;

    @include media-breakpoint-only(sm) {
      font-size: $hero-heading-sm;
    }

    @include media-breakpoint-between(md, lg) {
      font-size: $hero-heading-lg;
    }

    @include media-breakpoint-up(xl) {
      font-size: $hero-heading-xl;
    }
  }

  @include media-breakpoint-down(sm) {
    h1 {
      margin-bottom: 1.75rem;
    }
    .tail {
      display: block;
    }
  }

  #scroll-text {
    color: $highlight;
    font-weight: $font-weight-bold;
  }

  .btn-outline {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline-block;
      margin: 2.5em 0;
    }
  }
}

// Hero layover
//
.hero-layover {
  top: 0;

  &.layover-left {
    position: absolute;
    align-items: center;
    justify-items: center;
    z-index: -1;

    @include media-breakpoint-down(md) {
      margin-top: $nav-toggle-mobile-spacing + 0.75rem;
      right: $nav-toggle-mobile-size + $nav-toggle-mobile-spacing;
      width: 20rem;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      width: $section-spacing-h;
      left: 0;
      bottom: 0;
      background-color: $cherry;
    }
  }

  &.layover-right {
    display: flex;
    width: $nav-toggle-mobile-size;
    position: fixed;
    right: 0;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: $nav-toggle-mobile-spacing 0;

    @include media-breakpoint-up(lg) {
      padding: 1rem 0;
      transition: background-color 0.3s ease-out;
      bottom: 0;
      width: $section-spacing-h;
      height: 100%;
      &:hover {
        background-color: #222;
      }
    }
  }
}

// Layover right
//
.section-hint {
  position: relative;

  @include media-breakpoint-down(md) {
    padding-top: $nav-toggle-mobile-spacing;
    opacity: 0.6;
  }

  .scroll-hint {
    position: absolute;
    white-space: nowrap;
    top: -0.6rem;
    opacity: 0;
    transition: opacity 300ms ease-out;

    @include media-breakpoint-up(lg) {
      top: -0.8rem;
    }

    &.active {
      opacity: 1;
    }
  }

  .scroll-line {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      margin-top: 8rem;
      transition: height 300ms ease-out;
    }
  }
}

.hint-content {
  transform: rotate(90deg);
  transform-origin: center;
  font-size: 0.65rem;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: 0.875rem;
  }
}

.page-end {
  .scroll-line {
    height: 0;
  }
}

// Scroll Line
@keyframes scrolldown {
  0% {
    background-position: 0 -10.4rem;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 10.4rem;
  }
}

.scroll-line {
  background-color: rgba(#fff, 0.4);
  width: 0.1rem;
  height: 10.4rem;
  overflow: hidden;
  overflow: hidden;
}
.scroll-indicator {
  width: 100%;
  height: 200%;
  background-position: 0 -10.4rem;
  background-size: 100% 200%;
  animation: scrolldown 2s cubic-bezier(0.5, 0, 0.3, 1) forwards infinite;
  background: linear-gradient(to bottom, #ffffff 50%, rgba(255, 255, 255, 0) 50%);
}

// Layover left
//
.service-taglines {
  ul {
    color: rgba(#fff, 0.7);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 0.5rem;
    text-align: right;

    @include media-breakpoint-up(lg) {
      text-align: center;
      transform: rotate(-90deg);
      transform-origin: 30% 190%;
      font-size: 0.875rem;
      width: 23rem;
      font-size: 0.65rem;
    }
  }

  li {
    padding-left: 8px;
    display: inline-block;

    &:not(:first-child):before {
      content: "/";
      padding-right: 8px;
    }
  }
}
