.hero {
  position: relative;

  .section-inner {
    height: 100vh;
  }

  .hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    height: 100%;

    @include media-breakpoint-down(md) {
      // flex-flow: column;
      // text-align: center;
      // justify-content: center;
    }
  }

  .headline {
    grid-column-start: 2;
    grid-column-end: 5;

    h2 {
      font-family: "Russo One", sans-serif;
      font-weight: initial;
      font-size: 8rem;
      text-transform: uppercase;
      margin-left: -0.4rem;
      margin-bottom: 1.75rem;
      line-height: 1;

      @include media-breakpoint-between(sm, lg) {
        font-size: 6rem;
      }

      @include media-breakpoint-down(xs) {
        font-size: 3.25rem;
      }
    }

    h1,
    h3 {
      font-size: 1.75rem;
      margin: 0;
      font-weight: $font-weight-normal;

      @include media-breakpoint-between(sm, lg) {
        font-size: 1.3rem;
      }

      @include media-breakpoint-down(xs) {
        font-size: 1rem;
        line-height: 1.8;
      }
    }

    h3 span {
      color: $header-highlight;
      font-weight: $font-weight-bold;

      @include media-breakpoint-down(xs) {
        display: block;
        min-height: 1.8rem;
        font-size: 1.5rem;
      }
    }

    .btn-outline {
      margin: 2.5em 0;
    }
  }
}

// Mouse Animation
//
@keyframes mouse-scroll {
  0% {
    top: 20%;
  }

  40% {
    top: 30%;
  }

  100% {
    top: 20%;
  }
}

.scroll-mouse {
  @include media-breakpoint-down(sm) {
    display: none;
  }

  position: absolute;
  bottom: $mouse-margin;
  left: 0;
  width: 100%;

  .inner {
    margin: 0 auto;
    width: $mouse-width;
    height: $mouse-height;
    position: relative;
    border-radius: $mouse-width/2 + $mouse-border-width * 2;
    border: $mouse-border-width solid $mouse-color;
  }

  .wheel {
    position: absolute;
    top: 8%;
    left: 50%;
    width: $wheel-size;
    height: $wheel-size * 2;
    margin-left: -$wheel-size/2;
    border-radius: $wheel-size;
    background-color: $mouse-color;
    animation: mouse-scroll 0.9s ease-in infinite;
  }
}

// Hero layover
//
.hero-layover {
  top: 0;
  bottom: 0;
  width: $section-spacing-h;
  display: flex;

  &.layover-left {
    position: absolute;
    left: 0;
    align-items: center;
    justify-items: center;
    background-color: $cherry;
    z-index: -1;
  }

  &.layover-right {
    position: fixed;
    right: 0;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    @include media-breakpoint-up(md) {
      transition: background-color 0.3s ease-out;
      height: 100%;
      width: $section-spacing-h;
      &:hover {
        background-color: #222;
      }
    }
  }
}

// Layover right
//
.brand {
  .logo {
    height: 2.5rem;

    @include media-breakpoint-down(md) {
      height: 2rem;
    }
  }
}

.section-hint {
  position: relative;

  .scroll-hint {
    position: absolute;
    white-space: nowrap;
    top: -0.8rem;
    opacity: 0;
    transition: opacity 300ms ease-out;

    &.active {
      opacity: 1;
    }
  }

  .scroll-line {
    margin-top: 8rem;
    transition: height 300ms ease-out;
  }
}

.hint-content {
  transform: rotate(90deg);
  transform-origin: center;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.page-end {
  .scroll-line {
    height: 0;
  }
}

// Scroll Line
@keyframes scrolldown {
  0% {
    background-position: 0 -10.4rem;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 10.4rem;
  }
}

.scroll-line {
  background-color: rgba(#fff, 0.4);
  width: 0.1rem;
  height: 10.4rem;
  overflow: hidden;
  overflow: hidden;
}
.scroll-indicator {
  width: 100%;
  height: 200%;
  background-position: 0 -10.4rem;
  background-size: 100% 200%;
  animation: scrolldown 2s cubic-bezier(0.5, 0, 0.3, 1) forwards infinite;
  background: linear-gradient(to bottom, #ffffff 50%, rgba(255, 255, 255, 0) 50%);
}

// Layover left
//
.service-taglines {
  ul {
    color: rgba(#fff, 0.7);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-90deg);
    transform-origin: 30% 190%;
    width: 23rem;
    font-size: 0.875rem;
  }

  li {
    padding-left: 8px;
    display: inline-block;

    &:not(:first-child):before {
      content: "/";
      padding-right: 8px;
    }
  }
}
