// Navigation styles
//
body.nav-open {
  overflow: hidden;
}

.nav-toggle {
  position: relative;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border: 0;
  background: none;
  z-index: 9;

  @include media-breakpoint-down(md) {
    transition: background-color 500ms $transition;
    transition-delay: 800ms;
    background-color: $cherry;
    width: $nav-toggle-mobile-size;
    height: $nav-toggle-mobile-size;

    &.open {
      background-color: #333;
    }
  }

  @include media-breakpoint-up(lg) {
    width: $nav-toggle-size;
    height: $nav-toggle-size;

    &:hover {
      .nav-icon {
        transform: scale(0.85) rotate(0deg);
      }
    }
  }

  .nav-icon,
  .nav-icon:before,
  .nav-icon:after {
    transition: all 0.3s $transition;
  }

  .nav-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    height: 0.25rem;
    background: $nav-toggle-color;
    display: inline-block;

    @include media-breakpoint-up(lg) {
      width: 80%;
    }

    &::before,
    &::after {
      content: "";
      background: $nav-toggle-color;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
    }

    &::before {
      top: -$nav-toggle-mobile-size/5;

      @include media-breakpoint-up(lg) {
        top: -$nav-toggle-size/4.5;
      }
    }

    &::after {
      top: $nav-toggle-mobile-size/5;

      @include media-breakpoint-up(lg) {
        top: -$nav-toggle-size/4.5;
      }
    }
  }

  &.open .nav-icon {
    background-color: transparent;
    transform: scale(1.2) rotate(270deg);

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: -100%;
  z-index: 8;
  transition: all 400ms $transition;

  * {
    transition: all 400ms $transition;
  }

  .nav-bg {
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    &.layer1 {
      width: $mobile-nav-animation-width;
      background: $mobile-nav-bg1;

      @include media-breakpoint-up(md) {
        width: $nav-animation-width;
        background: $nav-bg1;
      }
    }

    &.layer2 {
      background: $mobile-nav-bg2;

      @include media-breakpoint-up(md) {
        background: $nav-bg2;
      }
    }

    &.layer3 {
      background: $nav-bg3;
    }
  }

  .nav-menu {
    z-index: 2;
    margin: 0 $mobile-section-spacing-h;

    @include media-breakpoint-up(md) {
      width: 50%;
      margin: 0 25%;
    }

    ul {
      display: flex;
      flex-flow: wrap;

      li {
        flex-basis: 50%;
      }
    }

    li,
    h4 {
      overflow: hidden;
    }

    h4 {
      font-size: 0.75rem;
      font-weight: $font-weight-bold;
      color: $highlight;
      text-transform: uppercase;
      margin-bottom: 2rem;
      letter-spacing: 0.25rem;

      span {
        display: block;
        transform: translateY(-200%);
      }
    }

    a {
      display: inline-block;
      transform: translateY(200%);
      font-size: 1.25rem;
      font-weight: $font-weight-semibold;
      color: #fff;
      margin: 0.5rem 0;
      position: relative;

      @include media-breakpoint-up(md) {
        font-size: 2rem;
        font-weight: $font-weight-bold;
      }
    }

    .active a {
      &:before {
        width: 100%;
      }
    }
  }

  &.open {
    top: 0;

    .nav-bg {
      width: 100%;
    }

    .nav-bg2 {
      width: 100%;
    }

    .nav-menu {
      h4 span {
        transform: translateY(0);
      }

      a {
        transform: translateY(0);
      }
    }
  }
}
