.project-wrapper {
  margin-bottom: $section-spacing-v;
}

.project-block {
  padding: $mobile-section-spacing-v 0;

  @include media-breakpoint-up(lg) {
    padding: $section-spacing-v 0;
  }

  &#project_market {
    padding-top: 0;
  }
}

// Project slider
//
.project-slider {
  position: relative;
  margin: 0 -#{$mobile-slide-spacing};

  @include media-breakpoint-only(md) {
    margin: 0 -#{$tablet-slide-spacing};
  }

  @include media-breakpoint-up(lg) {
    margin: 0 -#{$slide-spacing};
  }

  img {
    display: block;

    @include media-breakpoint-down(md) {
      height: calc(80vw * #{$aspectRatio});
      padding-left: $mobile-slide-spacing;
    }

    @include media-breakpoint-up(lg) {
      margin-right: 1em;
      height: 38rem;

      &.first {
        padding-left: $slide-spacing;
      }
    }
  }
}

// Project info wrapper
//
.project-info-wrapper {
  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: space-between;
  }
}

// Details
//
.project-details {
  position: relative;
  padding-top: 1rem;

  @include media-breakpoint-up(lg) {
    max-width: 30rem;
    margin-top: -8rem;
    padding: 3.5rem;
  }

  .slider-next {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 0;
    font-size: 0.625rem;
    letter-spacing: 2px;

    @include media-breakpoint-down(sm) {
      .extra-text {
        display: none;
      }
    }

    @include media-breakpoint-up(md) {
      font-size: 0.75rem;
      transition: color 0.3s ease-in;
      padding-right: 1.5rem;

      &:hover {
        color: $highlight;
      }
    }

    .arrow {
      display: inline-block;
      margin-right: 0.5rem;
      animation: arrowLeft 1.5s cubic-bezier(0.5, 0, 0.3, 1) forwards infinite;
    }
  }

  .project-subject {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $highlight;
    margin-bottom: 0.75rem;

    @include media-breakpoint-up(md) {
      font-size: 1.125rem;
    }
  }

  .project-name {
    font-size: 1.25rem;
    margin-bottom: $mobile-block-spacing;

    @include media-breakpoint-up(md) {
      font-size: 2.25rem;
      margin-bottom: $block-spacing;
    }
  }

  .project-link {
    font-size: 0.875rem;
    margin-top: 1rem;

    span {
      margin-left: 0.25rem;
      transition: margin 350ms $transition;
    }

    @include media-breakpoint-up(md) {
      transition: color 450ms $transition;
      font-size: 1rem;
      margin-top: 2rem;

      &:before {
        z-index: 1;
      }

      &:hover {
        span {
          margin-left: 0.75rem;
        }
      }
    }
  }
}

// Specs
//
.project-specs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;

  @include media-breakpoint-up(lg) {
    flex-basis: 50%;
  }

  .specs-block {
    flex: 0 50%;

    @include pseudo-number(3, spec-title, 0.75rem);
  }

  .spec-title {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: rgba(#fff, 0.65);

    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
  }

  .spec-list {
    text-transform: uppercase;
  }
}
