.service-wrapper {
  margin-bottom: $section-spacing-v;
}

.service-block {
  padding: $mobile-section-spacing-v 0;
  display: flex;
  align-items: flex-start;

  @include media-breakpoint-up(sm) {
    padding: $section-spacing-v 0;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: row-reverse;
  }

  @include pseudo-number(4, service-headline);
}

.block-image {
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: flex-end;
    padding: 0 $block-spacing;
  }

  @include media-breakpoint-up(xl) {
    flex-basis: 25%;
  }

  img {
    width: 4rem;
  }
}

.service-info {
  @include media-breakpoint-up(xl) {
    flex-basis: 50%;
  }
}

.service-headline {
  font-size: 1.125rem;
  margin-bottom: $mobile-block-spacing;
  display: inline-block;

  @include media-breakpoint-up(sm) {
    font-size: 2.25rem;
    margin-bottom: $block-spacing;
  }
}

.service-desc {
  margin-bottom: $mobile-block-spacing;

  @include media-breakpoint-up(md) {
    padding-left: $block-spacing;
  }
}

.service-list {
  border-left: 0.125rem solid $highlight;
  padding-left: $mobile-block-spacing;
  display: flex;
  flex-flow: wrap;

  @include media-breakpoint-up(md) {
    padding-left: $block-spacing;
  }

  li {
    @include media-breakpoint-down(md) {
      flex-basis: 50%;
    }

    @include media-breakpoint-only(lg) {
      flex-basis: 40%;
    }

    @include media-breakpoint-up(xl) {
      flex-basis: calc(50% - 1rem);
    }
  }
}
