.tech-wrapper {
  display: flex;
  flex-flow: wrap;
  padding-bottom: $section-spacing-v;
}

.tech-block {
  flex-basis: 50%;
  margin-bottom: 3rem;

  @include media-breakpoint-up(xl) {
    flex-basis: 25%;
  }

  .tech-header {
    font-size: 1rem;
    margin: $mobile-block-spacing 0;
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
      margin: $block-spacing 0;
    }
  }

  @include pseudo-number(4, tech-header);
}
